@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #183153;
  --secondary-color: #e0e0e0;

  scroll-behavior: smooth;
}

html,
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--secondary-color);
}

header {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 4em;
}

.wrapper .container {
  width: 1024px;
  padding: 2em;
  margin-block: 2em;
  flex-grow: 1;
  height: fit-content;

  border-radius: 50px;
  background-color: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

#add-booklist {
  position: relative;
}

.item {
  border-radius: 16px;
  margin-top: 16px;
  padding: 12px 24px 12px 24px;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
}

.item > .inner h2 {
  margin-bottom: unset;
}

.item > .inner p {
  margin-top: 5px;
}

.form {
  display: flex;
  padding: 16px;
  flex-direction: column;
  border-radius: 16px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: lighter;
}

.shadow {
  border-radius: 1em;
  background-color: #ffffff;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

input[type="text"],
input[type="number"],
input[type="search"],
.btn-submit {
  display: block;
  padding: 1em;
  margin: 1em auto;
  font-size: 1rem;
  font-family: inherit;
  border: none;
  width: 100%;

  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.btn-submit {
  position: absolute;
  inset: auto 0 -3em 0;

  background-image: url("../assets/circle-check-regular.svg");
  border-radius: 50%;
  width: 5em;
  height: 5em;
  cursor: pointer;

  transition: translateY 0.5s;
}

.btn-submit:hover {
  background-image: url("../assets/circle-check-solid.svg");
  color: white;
}

input[type="text"],
input[type="number"],
input[type="search"],
.btn-submit:focus {
  outline: none;
}

.text-center {
  text-align: center;
}

.form-title {
  margin: auto 0;
}

.check-button {
  width: 2.5em;
  height: 2.5em;

  background-color: inherit;
  background-image: url("../assets/heart-regular.svg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: auto;
  cursor: pointer;
  border: none;
}

.check-button:hover {
  background-image: url("../assets/heart-solid.svg");
}

.trash-button {
  width: 2.5em;
  height: 2.5em;

  background-color: inherit;
  background-image: url("../assets/trash-outline.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 1em;
  cursor: pointer;
  border: none;
}

.trash-button:hover {
  background-image: url("../assets/trash-solid.png");
}

.undo-button {
  width: 2.5em;
  height: 2.5em;

  background-color: inherit;
  background-image: url("../assets/circle-xmark-regular.svg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: auto;
  cursor: pointer;
  border: none;
}

.undo-button:hover {
  background-image: url("../assets/circle-xmark-solid.svg");
}

.check-button:focus,
.trash-button:focus,
.undo-button:focus {
  outline: none;
}

#start-booklist {
  scroll-margin-top: 3em;
}

/* footer */
footer {
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--primary-color);
  padding: 2.5em;

  background-color: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

@media only screen and (max-width: 1024px) {
  .wrapper .container {
    width: 90%;
  }

  .list-item {
    width: 100%;
  }

  .form {
    width: 100%;
  }
}
