@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #183153;
  --secondary-color: #e0e0e0;

  scroll-behavior: smooth;
}

html,
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--secondary-color);
}

header {
  display: grid;
  place-items: center;
  min-height: 100vh;
  margin-block-end: 5em;
  text-transform: uppercase;
  background-color: var(--primary-color);
  color: var(--secondary-color);

  position: relative;
}

header h1 {
  font-family: "Playfair Display", serif;
  font-size: 4rem;
  text-align: center;
  margin-block-end: 2em;
  padding: 1em 2em;
  width: 80%;

  border-radius: 1em;
  background-color: var(--primary-color);
  box-shadow: inset 20px 20px 60px #142a47, inset -20px -20px 60px #1c385f;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 4em;
}

.wrapper .container {
  max-width: 1140px;
  width: 80%;
  padding: 2em;
  margin-block: 2em;

  border-radius: 50px;
  background-color: var(--secondary-color);
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

#add-booklist {
  position: relative;
}

.item {
  border-radius: 2em;
  margin-block-start: 1em;
  padding: 1.5em 2em;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
}

.item > .inner h2,
.item > .inner p {
  max-width: 40rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item > .inner p {
  margin-block-start: 0.7em;
  font-weight: lighter;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 1em;
  border-radius: 1em;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-block-start: 0.8em;
  margin-inline-start: 0.5em;
  font-size: 1.3rem;
  font-weight: lighter;
}

.shadow {
  border-radius: 1em;
  background-color: #ffffff;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

input[type="text"],
input[type="number"],
input[type="search"],
.btn-submit {
  display: block;
  padding: 1em;
  margin: 1em auto;
  font-size: 1rem;
  font-family: inherit;
  width: 100%;
  border: none;

  border-radius: 1em;
  background-color: #ffffff;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.btn-submit {
  position: absolute;
  inset: auto 0 -3em 0;

  background-image: url("../assets/circle-check-regular.svg");
  background-color: var(--secondary-color);
  border-radius: 50%;
  width: 5em;
  height: 5em;
  cursor: pointer;
}

.btn-submit:hover {
  background-image: url("../assets/circle-check-solid.svg");
}

input[type="text"],
input[type="number"],
input[type="search"],
.btn-submit:focus,
.check-button:focus,
.trash-button:focus,
.undo-button:focus {
  outline: none;
}

.text-center {
  text-align: center;
}

.form-title {
  margin: auto 0;
}

.check-button {
  width: 2.5em;
  height: 2.5em;

  background-color: inherit;
  background-image: url("../assets/heart-regular.svg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-inline-start: auto;
  cursor: pointer;
  border: none;
}

.check-button:hover {
  background-image: url("../assets/heart-solid.svg");
}

.trash-button {
  width: 2.5em;
  height: 2.5em;

  background-color: inherit;
  background-image: url("../assets/trash-outline.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-inline-start: 1em;
  cursor: pointer;
  border: none;
}

.trash-button:hover {
  background-image: url("../assets/trash-solid.png");
}

.undo-button {
  width: 2.5em;
  height: 2.5em;

  background-color: inherit;
  background-image: url("../assets/circle-xmark-regular.svg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-inline-start: auto;
  cursor: pointer;
  border: none;
}

.undo-button:hover {
  background-image: url("../assets/circle-xmark-solid.svg");
}

#start-booklist {
  scroll-margin-top: 3em;
}

/* footer */
footer {
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--primary-color);
  padding: 2.5em;

  background-color: var(--secondary-color);
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

/* mobile */
@media screen and (max-width: 1104px) {
  :root {
    font-size: 10px;
  }

  header h1 {
    font-size: 3rem;
  }

  .check-button,
  .trash-button,
  .undo-button {
    width: 2em;
    height: 2em;
  }

  .item > .inner h2,
  .item > .inner p {
    max-width: 10rem;
  }
}

/* divider */
.custom-shape-divider-bottom-1662211385 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1662211385 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1662211385 .shape-fill {
  fill: var(--secondary-color);
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
  .custom-shape-divider-bottom-1662211385 svg {
    width: calc(100% + 1.3px);
    height: 126px;
  }
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1662211385 svg {
    width: calc(100% + 1.3px);
    height: 100px;
  }
}
